# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/riesgoDifuso_v2/nbproject/private/
/riesgoDifuso_v2/dist/
/riesgoDifuso_v2/build/
/jRevolutions/nbproject/private/
/jRevolutions/build/
/jRevolution_v2/nbproject/private/
/jRevolution_v2/build/
/frasesPrimefaces_v2/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/primefaces_1/nbproject/private/