form.parainfo {
    margin: 12px;
}

form.parainfo fieldset {
    padding: 20px;
}

form.parainfo label, form.parainfo input, form.parainfo select, 
form.parainfo textarea, .form-parainfo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #444;
}

form.parainfo input[type=text], form.parainfo textarea, 
form.parainfo select, .form-parainfo{
    padding: 6px 10px;
}

form.parainfo legend {
    padding: 10px 14px;
}

form.parainfo .tabla {
    margin: auto;
    margin-top: 16px;
    border-spacing: 5px;
}

form.parainfo textarea {
    resize: none;
}

form.parainfo td, form.parainfo th {
    vertical-align: top;
}