body {
    background-color: #F7F7F7;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.ui-icon-csv {
    background-image: url(icon/console.png);
}

.edit-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/editar.png") !important;
    margin-right: 7px;
}

.delete-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_delete.png") !important;
    margin-right: 7px;
}

.tools-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_mantenimiento.png") !important;
    margin-right: 7px;
}

.group-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_group.png") !important;
    margin-right: 7px;
}

.hand-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_mano.png") !important;
    margin-right: 7px;
}

.add-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_add.png") !important;
    margin-right: 7px;
}

.save-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_save.png") !important;
    margin-right: 7px;    
}

.cancel-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_cancel.png") !important;
    margin-right: 7px;    
}

.process-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_process.png") !important;
    margin-right: 7px;    
}

.pie-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_pie.png") !important;
    margin-right: 7px;    
}

.bar-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_bar.png") !important;
    margin-right: 7px;    
}

.off-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_off.png") !important;
    margin-right: 7px;    
}

.out-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_out3.png") !important;
    margin-right: 7px;    
}

.user-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_user.png") !important;
    margin-right: 7px;    
}

.contacts-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_contacts.png") !important;
    margin-right: 7px;    
}

.my-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_mycount.png") !important;
    margin-right: 7px;    
}

.laptop-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_laptop.png") !important;
    margin-right: 7px;    
}

.security-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_security.png") !important;
    margin-right: 7px;    
}

.tablet-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_tablet.png") !important;
    margin-right: 7px;    
}

.espec-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_espec.png") !important;
    margin-right: 7px;    
}

.amenaza-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_amenaza.png") !important;
    margin-right: 7px;    
}

.trash-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_trash.png") !important;
    margin-right: 7px;    
}

.add_mult-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_mult2.png") !important;
    margin-right: 7px;    
}

.act_mult-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_act_mult.png") !important;
    margin-right: 7px;    
}

.mult-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_mult.png") !important;
    margin-right: 7px;    
}

.eye-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_eye.png") !important;
    margin-right: 7px;    
}

.poison-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_poison.png") !important;
    margin-right: 7px;    
}

.escudo-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_escudo.png") !important;
    margin-right: 7px;    
}

.home-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_home.png") !important;
    margin-right: 7px;    
}

.info-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_info.png") !important;
    margin-right: 7px;    
}

.evaluation-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/images/icon/ic_evaluation.png") !important;
    margin-right: 7px;    
}

.button {
    background-color: #D20005 !important;
}

.highlight1 {
    color: red;
    font-weight: bold;
    background-color: aqua;
}


